:root {

    /* colors */
    --color-white: #FFFFFF;
    --color-beige: #F0EFE9;
    --color-light-grey: #e5e5e5;
    --color-ink: #BCBCBC;
    --color-dark-grey: #545252;
    --color-black: #000000;
    --color-shadow: rgba(0, 0, 0, 0.2);


    /* fonts */
    --font-h1: 'fit-wide', sans-serif;
    --font-size-h1: 8vw;
    --font-weight-h1: 400;

    --font-h2: 'Shrikhand', serif;
    --font-size-h2: 18px;

    --font-h3: 'Montserrat', sans-serif;
    --font-size-h3: 15px;
    --font-weight-h3: 600;

    --font-h4: 'Montserrat', sans-serif;
    --font-size-h4: 14px;

    --font-p: "Oxanium", sans-serif;
    --font-size-p: 13px;

    --font-h5: 'Montserrat', sans-serif;
    --font-size-h5: 10px;

    /* borders */
    --border-radius-10: 10px;
    --box-shadow: 2px 2px 6px var(--color-shadow);
}

body {
    background-color: var(--color-light-grey);
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

.wrapper {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper>* {
    padding: 10px;
    padding: 10px;
    flex: 1 100%;
    
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 96%;
    z-index: 1000;
    max-width: 1100px;
    border-bottom: 1px solid var(--color-dark-grey);
    border-left: 1px solid var(--color-dark-grey);
    border-right: 1px solid var(--color-dark-grey);
    border-radius: 0px 0px var(--border-radius-10) var(--border-radius-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-light-grey);
}

.header .portfolio-logo #portfolio-h1 {
    font-family: var(--font-h1);
    font-weight: var(--font-weight-h1);
    font-size: var(--font-size-h1);
    background-image: url(images/eyes.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    margin-bottom: -6%;
    margin-top: -8%;
    letter-spacing: 1px;
}

.header .navigation .navbar-menu .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.header .navigation .navbar-menu .nav-links li {
    display: inline;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid var(--color-dark-grey);
}

.header .navigation .navbar-menu .nav-links li:last-child {
    border-right: none;
}

.header .navigation .navbar-menu .nav-links li a {
    text-decoration: none;
    font-family: var(--font-h3);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    color: var(--color-black);
    transition: all 0.3s ease 0s;
}

.header .navigation .navbar-menu .nav-links li a:hover {
    color: #ff00ff;
}


.header .forme {
    position: absolute;
    background-color: var(--color-light-grey);
    padding-top: 2px;
    padding-left: 19px;
    padding-right: 18px;
    padding-bottom: 0;
    margin: 0;
    bottom: -1px;
}

main {
    margin-top: 100px;
    padding-left: 0;
    padding-right: 0;
}

.section-parcours .parcours-pro {
    height: auto;
}

.section-parcours .timeline {
    background-color: transparent;
    border-left: 1px solid var(--color-dark-grey);
    border-right: 1px solid var(--color-dark-grey);
    border-top: 1px solid var(--color-light-grey);
    margin: -1px;
    z-index: 1;
    height: auto;
}

.section-parcours .parcours-scolaire {
    height: auto;
}

.section-parcours h2 {
    margin-top: 100px;
    margin-bottom: -5px;
    padding: 0;
    font-family: var(--font-h2);
    font-size: var(--font-size-h2);
    color: var(--color-black);
}

.section-parcours h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: var(--font-h3);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    color: var(--color-black);
}

@media all and (min-width: 800px) {
    .section-parcours{
        margin: -0px;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-parcours .parcours-pro {
        flex: 15;
        order: 0;
    }


    .section-parcours .timeline {
        order: 1;
        flex: 1;
    }

    .section-parcours .parcours-scolaire {
        flex: 15;
        order: 2;
    }
}


@media all and (max-width: 799px) {
    .section-parcours .timeline {
        display: none;
    }

    .header .forme {
        display: none;
    }
}

@media all and (min-width: 600px) {
    .section-parcours div {
        flex: 1;
    }
}

.posters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posters .poster-pro {
    background-color: var(--color-ink);
    border-radius: var(--border-radius-10) 0px 0px var(--border-radius-10);
    margin-bottom: 32px;
    min-height: 530px;
    max-height: 530px;
    width: 100%;
    padding-top: 22px;
}


.posters .poster-scolaire {
    margin-bottom: 32px;
    padding-top: 22px;
}

.posters img {
    margin-left: auto;
    margin-right: auto;
    width: 321.25px;
    height: 468.2px;
    border-radius: var(--border-radius-10);
    box-shadow: var(--box-shadow);
}

.posters .imagesx2 {
    display: flex;
    margin-bottom: 32px;
    padding-top: 22px;
}



.posters #pro {
    margin-top: 15px;
    margin-left: -50px;
    padding-bottom: 10px;
    font-family: var(--font-h5);
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-h5);
    color: var(--color-black);
}

.posters #scolaire {
    margin-top: 15px;
    margin-left: 50px;
    padding-bottom: 10px;
    font-family: var(--font-h5);
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-h5);
    color: var(--color-black);
}

.timeline .start {
    height: 166px;
    margin-top: 0;
    border-bottom: 1px solid var(--color-dark-grey);
}

.timeline .end {
    border-bottom: 2px solid var(--color-light-grey);
    height: 120px;
    margin-bottom: 0;
}

.timeline .d2016-2020,
.timeline .d2020-2021 {
    height: 530px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-ink);
}

.timeline .d2022-2023 {
    height: 530px;
    display: flex;
    flex-direction: column;
}

.timeline .d2023 {
    height: 530px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-ink);
}

.timeline .d2016,
.timeline .d2017,
.timeline .d2018,
.timeline .d2019,
.timeline .d2020,
.timeline .d2021,
.timeline .d2022,
.timeline .d2023 {
    text-align: right;
    border-bottom: 1px solid var(--color-dark-grey);
    margin: 0;
    flex: 1;
}

.timeline .d2019,
.timeline .d2021,
.timeline .d2023 {
    border-bottom: 1px solid var(--color-dark-grey);
    border-style: inset;
}

.timeline h3 {
    transform: rotate(270deg);

    
    margin-top: 20px;
}

.timeline .graduation {
  background-color: var(--color-dark-grey);
  height: 32px;
  padding:4px;
}

.timeline .graduation i {
    color: white;
}


.arrow-right {
    position: absolute;
    z-index: -600;
    height: 52px;
    width: 120px;
    border-bottom: 2px dotted var(--color-dark-grey);
    border-right: 2px dotted var(--color-dark-grey);
    margin-top: -35px;
    margin-left: -100px;   
}

.container {
    box-sizing: border-box;
}

.card {
    margin: 0 auto;
    width: 321.25px;
    height: 468.2px;
    transform-style: preserve-3d;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover,
.card7:hover,
.card8:hover,
.card9:hover,
.card10:hover,
.card11:hover {
    cursor: pointer;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transition: transform 300ms;
}


.card-front,
.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: var(--border-radius-10);
    box-shadow: var(--box-shadow);
}

.img-marches-bazens {
    background-image: url(images/posters/marches_bazens.jpg);
}
.img-em-deco {
    background-image: url(images/posters/em_deco.jpg);
}

.img-bac-es {
    background-image: url(images/posters/bac_es.jpg);
}

.img-bts-erpc {
    background-image: url(images/posters/bts_erpc.jpg);
}

.img-holberton {
    background-image: url(images/posters/holberton.jpg);
}


.card-front {
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.card-back{
    background-color: var(--color-beige);
    transform: rotateY(180deg);
}

.parcours-card-back {
    padding: 20px;
    text-align: left;
}

.card-back-h3-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: -5px;
}

.card-back-icon {
    text-align: end;
}

.card-back-icon i:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transition: transform 200ms;
}

.parcours-card-back h3{
    margin-bottom: 5px;
    font-family: var(--font-h3);
    color: var(--color-black);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
}

.parcours-card-back h4 {
    margin-bottom: 30px;
    font-family: var(--font-h4);
    color: var(--color-black);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
}

.parcours-card-back p {
    margin-bottom: 10px;
    font-family: var(--font-p);
    color: var(--color-black);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
}

.a-propos-card-back:hover {
    -webkit-transform: scale(1) rotateY(180deg);
    -moz-transform: scale(1) rotateY(180deg);
    -ms-transform: scale(1) rotateY(180deg);
    transition: transform 200ms;
}

.parcours-card-back:hover {
    -webkit-transform: scale(1.03) rotateY(180deg);
    -moz-transform: scale(1.03) rotateY(180deg);
    -ms-transform: scale(1.03) rotateY(180deg);
    transition: transform 200ms;
}
.container .card.flip {
    transform: rotateY(180deg);
}

.containerx2 {
    box-sizing: border-box;
}

.cardx2 {
    margin: 0 auto;
    width: 229.128px;
    height: 333.924px;
    transform-style: preserve-3d;
    transition: transform 200ms;
}

.containerx2:hover .cardx2 {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transition: transform 200ms;
}

.card-frontx2,
.card-backx2 {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: var(--border-radius-10);
    box-shadow: var(--box-shadow);
    
}

.interim {
    z-index: 80;
    border-right: 6px solid var(--color-light-grey);
}
.interim:hover {
    z-index: 90;
}

.stage {
   z-index: 80;
   border-left: 6px solid var(--color-light-grey);
}

.stage:hover {
    z-index: 90;
}

.card-frontx2 {
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}

.card-backx2 {
    background-color: var(--color-beige);
    transform: rotateY(180deg);
}

.card-backx2:hover {
    transform: scale(1.2) rotateY(180deg);
    transition: transform 200ms;
}
.containerx2 .cardx2.flip {
    transform: rotateY(180deg);
}
.img-poste-pic {
    
    background-image: url(images/posters/poste_pic.jpg);

}

.img-made-in-tracker {
    background-image: url(images/posters/made_in_tracker.jpg);
}


/* section à propos */
.section-a-propos {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    min-height: 500px;
    background-color: var(--color-light-grey);
    border: 1px solid var(--color-dark-grey);
    border-radius: var(--border-radius-10);
    width: 100%;
    max-width: 1100px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}

.title-a-propos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}

.title-a-propos h2 {
    font-family: var(--font-h2);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--color-black);
}

.infos-a-propos {
    display: flex;
    justify-content: center;
}

.name {
    margin-left: 10px;
    font-family: var(--font-h3);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    color: var(--color-black);
}
.sign {
    font-family: var(--font-h4);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
    color: var(--color-black);
}

.sign i {
    margin-right: 5px;
}

.carouselarrow {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.carouselarrow i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  color: black;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.carouselarrow i:active{
  transform: translateY(-50%) scale(0.85);
}
.carouselarrow i:first-child{
  left: -50px;
}
.carouselarrow i:last-child{
  right: -50px;
  
}
.carouselarrow .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 0px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 18px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: none;
}
.carousel.dragging .card {
  cursor: pointer;
  user-select: none;
}
.carousel :where(.card, .a-propos-card-front) {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-left: 5px;
  
}
.carousel .card {
  scroll-snap-align: start;
  height: 350px;
  width: 100%;
  list-style: none;
  cursor: pointer;
  flex-direction: column;
  border-radius: 8px;
}

.carousel .card .a-propos-card-front {
  height: 100%;
  z-index: -2;
}
.carousel .card6 .a-propos-card-front {
    background-color: #F84157;
}

.carousel .card7 .a-propos-card-front {
    background-color: #156062;
}

.carousel .card8 .a-propos-card-front {
    background-color: #00C092;
}

.carousel .card9 .a-propos-card-front {
    background-color: #FFBBAB;
}

.carousel .card10 .a-propos-card-front {
    background-color: #F8DE65;
}

.carousel .card11 .a-propos-card-front {
    background-color: #FB8960;
}

.card .a-propos-photo {
  width: 125%;
  height: 128%;
  object-fit: cover;
  border-radius: 10px;
  z-index: 0;
  
}

@media screen and (max-width: 900px) {
  .carouselarrow .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .carouselarrow .carousel {
    grid-auto-columns: 100%;
  }
}

.a-propos-formes {
    width: 200px;
    position: absolute;
    transform: scale(1);
    opacity: 20%;
    transition: transform 250ms, opacity 500ms;
}

.a-propos-formes-front {
    bottom: 0;
    z-index: 1;
}

.a-propos-formes-back {
    top: 10px;
    z-index: -1;
}

.carousel .a-propos-card-front:hover > .a-propos-formes {
    transform: scaleY(1.6) scaleX(1.25);
    opacity: 40%;
    transition: transform 500ms, opacity 1000ms;
}


.a-propos-card-back h2{
    margin-bottom: 0px;
    font-family: var(--font-h2);
    color: var(--color-black);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
}

.a-propos-card-back h3 {
    margin-bottom: 0px;
    font-family: var(--font-h3);
    color: var(--color-black);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
}

.a-propos-card-back p {
    margin-bottom: 10px;
    font-family: var(--font-p);
    color: var(--color-white);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
    line-height : 1.2;
    text-align: justify;
    hyphens: auto;
    padding: 5px;
}

.a-propos-card-back {
    padding: 10px;
}

.card6 .a-propos-card-back h2{
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 8px;
}


.card6 .a-propos-card-back .a-propos-background-deco {
	width:100%;
	height:89%;
	background-color: #F84157;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0;
}


.card7 .a-propos-card-back h2{
    z-index: 1;
    padding-top: 8px;
    padding-bottom: 0px;
}


.card7 .a-propos-card-back .a-propos-background-deco {
	width:100%;
	height:89%;
	background-color: #156062;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0;
}

.card8 .a-propos-card-back h2{
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 8px;
}


.card8 .a-propos-card-back .a-propos-background-deco {
	width:100%;
	height:89%;
	background-color: #00C092;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0;
}

.card9 .a-propos-card-back h2{
    z-index: 1;
    padding-top: 8px;
    padding-bottom: 0px;
}


.card9 .a-propos-card-back .a-propos-background-deco {
	width:100%;
	height:89%;
	background-color: #FFBBAB;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0;
}

.card10 .a-propos-card-back h2{
    z-index: 1;
    padding-top: 0px;
    padding-bottom: 8px;
}

.card10 .a-propos-card-back .a-propos-background-deco-all {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
    height:89%;
}

.card10 .a-propos-card-back .a-propos-background-deco {
	width: 30%;
	background-color: #F8DE65;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 0;
}

.card10 .a-propos-card-back .progression {
    font-weight: 600;
    transform: rotate(270deg);
    margin-top: 210px;
    display: flex;
    align-items: center;
}

.card10 .a-propos-card-back .progression p {
    font-family: var(--font-p);
    color: var(--color-black);
    font-size: var(--font-size-p);
    margin-top: 7px;
    margin-right: 10px;
}

.card10 .a-propos-card-back .progression p span{
    margin-right: 8px;
}

.card10 .a-propos-card-back .progression-bar-border-french,
.card10 .a-propos-card-back .progression-bar-border-english {
    border: 1px solid var(--color-black);
    border-radius: var(--border-radius-10);
    padding-left: 90px;
    padding-right: 90px;
    height: 10px;
    position: relative;
}

.card10 .a-propos-card-back .progression-bar-border-spanish {
    border: 1px solid var(--color-black);
    border-radius: var(--border-radius-10);
    padding-left: 90px;
    padding-right: 87px;
    height: 10px;
    position: relative;
}

.card10 .a-propos-card-back .progression-bar-french,
.card10 .a-propos-card-back .progression-bar-english,
.card10 .a-propos-card-back .progression-bar-spanish {
    background-color: #000000;
    border-radius: var(--border-radius-10);
    height: 10px;
    position: absolute;
}

.card10 .a-propos-card-back .progression-bar-french {
    width: 0px;
    margin-left: 72px
}

.card10 .a-propos-card-back .progression-bar-english {
    width: 0px;
    margin-left: 72px;
}
.card10 .a-propos-card-back .progression-bar-spanish {
    width: 0px;
    margin-left: 72px;
}

.a-propos-card-back:hover .progression-bar-french {
    transition: width 1s;
    width: 180px;
}
.a-propos-card-back:hover .progression-bar-english {
    transition: width 1s;
    width: 160px;
}
.a-propos-card-back:hover .progression-bar-spanish {
    transition: width 1s;
    width: 120px;
}

.card11 .a-propos-card-back h2{
    z-index: 1;
    padding-top: 8px;
    padding-bottom: 0px;
}



.card11 .a-propos-card-back .a-propos-background-deco {
	width:100%;
	height:89%;
	background-color: #FB8960;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 0;
}


.a-propos-card-back:hover {
    -webkit-transform: scale(1.02) rotateY(180deg);
    -moz-transform: scale(1.02) rotateY(180deg);
    -ms-transform: scale(1.02) rotateY(180deg);
    transition: transform 200ms;
}

/* section skills */

.section-skills .soft-skills {
    height: auto;
}

.section-skills .timeline-skills {
    background-color: transparent;
    border-left: 1px solid var(--color-dark-grey);
    border-right: 1px solid var(--color-dark-grey);
    border-top: 1px solid var(--color-light-grey);
    margin: -1px;
    z-index: 0;
    height: 550px;
    border-bottom: 2px solid var(--color-light-grey);
}

.section-skills .hard-skills {
    height: auto;
}

.section-skills h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0;
    font-family: var(--font-h2);
    font-size: var(--font-size-h2);
    color: var(--color-black);
}

@media all and (min-width: 800px) {
    .section-skills{
        margin: -0px;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-skills .soft-skills {
        flex: 15;
        order: 0;
    }


    .section-skills .timeline-skills {
        order: 1;
        flex: 1;
    }

    .section-skills .hard-skills {
        flex: 15;
        order: 2;
    }
}


@media all and (max-width: 799px) {
    .section-skills .timeline-skills {
        display: none;
    }
}

@media all and (min-width: 600px) {
    .section-skills div {
        flex: 1;
    }
}

ol {
    counter-reset: none;
    list-style: none;
    list-style: decimal;
    padding: 0;
    margin-bottom: 4em;
  }

  .list-hard-skills a{
    position: relative;
    display: block;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: .5em 0;
    background: #ddd;
    text-align: left;
    text-decoration: none;
    font-family: var(--font-h4);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
    color: var(--color-black);
    border-radius: var(--border-radius-10);
    border-radius: var(--border-radius-10);
    transition: all .3s ease-out;
  }




  .list-hard-skills a::before {
    z-index: 1;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 60%;
    left: -0.8em;
    margin-top: -1.3em;
    background: var(--color-light-grey);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .1em solid var(--color-dark-grey);
    text-align: center;
    font-family: var(--font-h2);
    font-size: var(--font-size-h3);
    color: var(--color-black);
    border-radius: var(--border-radius-10);
    transition: all .3s ease-out;
  }


  .list-soft-skills a{
    position: relative;
    display: block;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: .5em 0;
    background: #ddd;
    text-align: right;
    text-decoration: none;
    font-family: var(--font-h4);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
    color: var(--color-black);
    
    border-radius: var(--border-radius-10);
    transition: all .3s ease-out;
  }

  .list-soft-skills a::before {
    z-index: 1;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 60%;
    right: -0.8em;
    margin-top: -1.3em;
    background: var(--color-light-grey);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .1em solid var(--color-dark-grey);
    text-align: center;
    font-family: var(--font-h2);
    font-size: var(--font-size-h3);
    color: var(--color-black);
    border-radius: var(--border-radius-10);
    transition: all .3s ease-out;
  }


/* section projets */

.slider_input {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.image-gallery-projets {
    display: flex;
    max-width: 1040px;
    width: 100%;
    justify-content: center;
}

.types-projets {
    width: 100%;
    max-width: 1100px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.types-projets .projet-design-graphique,
.types-projets .projet-3d,
.types-projets .projet-web-design,
.types-projets .projet-1,
.types-projets .projet-2 {
    height: 20px;
    margin-top: -35px;
    font-family: var(--font-h5);
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-h5);
    color: var(--color-black);
    border-bottom: solid 2px var(--color-ink);
    padding-bottom: 20px;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;  
}

#input-1:checked ~ .types-projets .projet-design-graphique ,
#input-2:checked ~ .types-projets .projet-design-graphique,
#input-3:checked ~ .types-projets .projet-3d ,
#input-4:checked ~ .types-projets .projet-3d,
#input-5:checked ~ .types-projets .projet-web-design ,
#input-6:checked ~ .types-projets .projet-web-design,
#input-7:checked ~ .types-projets .projet-1 ,
#input-8:checked ~ .types-projets .projet-1,
#input-9:checked ~ .types-projets .projet-2 ,
#input-10:checked ~ .types-projets .projet-2 {
    width: 43%;
    transition: 0.7s ease;
    padding-bottom: 27px;
    font-family: var(--font-h3);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    margin-top: -45px;
}

.types-projets .projet-design-graphique {
    width: 13%;
}

#input-1:checked ~ .types-projets .projet-design-graphique ,
#input-2:checked ~ .types-projets .projet-design-graphique  {
    color: #00C092;
    border-bottom: solid 8px #00C092;
}

.types-projets .projet-3d {
    width: 13%;
}

#input-3:checked ~ .types-projets .projet-3d ,
#input-4:checked ~ .types-projets .projet-3d  {
    color: #FFBBAB;
    border-bottom: solid 8px #FFBBAB;
}
.types-projets .projet-web-design {
    width: 13%;
}

#input-5:checked ~ .types-projets .projet-web-design ,
#input-6:checked ~ .types-projets .projet-web-design  {
    color: #F8DE65;
    border-bottom: solid 8px #F8DE65;
}
.types-projets .projet-1 {
    width: 13%;
}

#input-7:checked ~ .types-projets .projet-1 ,
#input-8:checked ~ .types-projets .projet-1  {
    color: #FB8960;
    border-bottom: solid 8px #FB8960;
}
.types-projets .projet-2 {
    width: 13%;
}

#input-9:checked ~ .types-projets .projet-2 ,
#input-10:checked ~ .types-projets .projet-2  {
    color: #F84157;
    border-bottom: solid 8px #F84157;
}

.slider_img {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    position: relative;
    height: 468.19px;
    border-radius: var(--border-radius-10);
    cursor: pointer;
    flex: 0.1;
    overflow: hidden;
    transition: flex 0.5s ease-in,border-radius 0.5s ease-in;
    display: flex;
    align-items: end;
    padding-bottom: 60px;
}

#input-1:checked ~ #label-1,
#input-2:checked ~ #label-2,
#input-3:checked ~ #label-3,
#input-4:checked ~ #label-4,
#input-5:checked ~ #label-5,
#input-6:checked ~ #label-6,
#input-7:checked ~ #label-7,
#input-8:checked ~ #label-8,
#input-9:checked ~ #label-9,
#input-10:checked ~ #label-10 {
    flex: 0.6;
}
#input-1:checked ~ #label-1 p,
#input-2:checked ~ #label-2 p,
#input-3:checked ~ #label-3 p,
#input-4:checked ~ #label-4 p,
#input-5:checked ~ #label-5 p,
#input-6:checked ~ #label-6 p,
#input-7:checked ~ #label-7 p,
#input-8:checked ~ #label-8 p,
#input-9:checked ~ #label-9 p,
#input-10:checked ~ #label-10 p {
    transition: 0.2s 0.5s;
    opacity: 100;
}


.image-gallery-projets h3 {
    margin-left: -23px;
    transform: rotate(270deg);
    font-family: var(--font-h3);
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
    color: var(--color-black);
}

.image-gallery-projets p {
    margin-right: 20px;
    margin-left: -20px;
    margin-bottom: -38px;
    font-family: var(--font-p);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
    color: var(--color-black);
    transition: 0.2s ;
    opacity: 0;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: var(--box-shadow);
    padding: 5px;
    border-radius: var(--border-radius-10);
}

.section-projets {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-color: var(--color-light-grey);
    border: 1px solid var(--color-dark-grey);
    border-radius: var(--border-radius-10);
    width: 100%;
    max-width: 1100px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
}

.title-projets {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.title-projets h2 {
    margin-bottom: 40px;
    font-family: var(--font-h2);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--color-black);
}



/* section contact */
.section-contact {
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.contact {
    text-align: left;
    padding-left: 20px;
}

.title-contact {
    font-family: var(--font-h2);
    font-size: var(--font-size-h2);
    color: var(--color-black);
    padding-bottom: 20px;
}

.name-contact {
    padding-bottom: 10px;
    font-family: var(--font-h4);
    color: var(--color-black);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
}
.phone-contact {
    padding-bottom: 10px;
    font-family: var(--font-h4);
    color: var(--color-black);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
}
.email-contact {
    padding-bottom: 20px;
    font-family: var(--font-h4);
    color: var(--color-black);
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h4);
}

.qrcode-contact {
    position: relative;
    height: 250px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scratch-card-text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scratch-card-text h5 {
    position: absolute;
    font-family: var(--font-h5);
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-h5);
    color: var(--color-white);
    z-index: 1;

}

.scratch-card-text img {
    border-radius: var(--border-radius-10);
    width: 400px;
    height: 250px;
    z-index: -1;
}


canvas {
    
    margin-left: 20%;
    border-radius: var(--border-radius-10);
    position: relative;
    bottom: 300px;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    z-index: 2;
    mix-blend-mode: screen;
    background-position: center center;
}